body {
    margin: 0;
    padding: 0;
    background: #000;
    overflow: hidden;
  }
  
  .pyro > .before, .pyro > .after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  }
  
  .pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
  }
  
  @-webkit-keyframes bang {
    to {
      box-shadow: -19px -354.6666666667px #c8ff00, 16px -339.6666666667px #55ff00, 92px 9.3333333333px #007bff, 120px -41.6666666667px #95ff00, 19px -104.6666666667px #55ff00, 122px -286.6666666667px #e6ff00, 81px -61.6666666667px #ff00b7, -221px -11.6666666667px #ff00bf, 54px -312.6666666667px #00ffc8, 3px -115.6666666667px #00bbff, -65px 61.3333333333px cyan, -166px -306.6666666667px #ff00b7, 20px 64.3333333333px #ff001a, 171px 61.3333333333px #37ff00, -44px -389.6666666667px #1eff00, 113px -255.6666666667px #f7ff00, -130px -404.6666666667px #9dff00, -83px -370.6666666667px #ff00bf, -119px -371.6666666667px #37ff00, -227px -383.6666666667px #ff4400, 27px 73.3333333333px #c8ff00, 109px 17.3333333333px #6600ff, -198px -392.6666666667px #ff0077, -27px -337.6666666667px #00d9ff, -89px -292.6666666667px #37ff00, 81px 28.3333333333px #0040ff, -108px -246.6666666667px #7300ff, -193px 24.3333333333px #ff6a00, -195px -29.6666666667px #ff2200, -116px -405.6666666667px #9900ff, -226px -292.6666666667px #ff008c, -202px -292.6666666667px #5900ff, -157px -80.6666666667px #e1ff00, 16px -209.6666666667px #ff001a, -77px -135.6666666667px #88ff00, 130px -274.6666666667px #2200ff, 62px -260.6666666667px #ff3700, 163px -256.6666666667px #62ff00, 206px -136.6666666667px #0044ff, 182px -148.6666666667px #04ff00, 225px -69.6666666667px #15ff00, 41px -404.6666666667px #ff009d, -19px -0.6666666667px #00ff37, 36px -177.6666666667px #00ffd5, -189px -323.6666666667px #fff200, 132px -200.6666666667px #00a2ff, -178px -49.6666666667px #2b00ff, -23px -311.6666666667px #006aff, -201px -285.6666666667px #00ff3c, 179px -68.6666666667px #00ff66, 139px -247.6666666667px #00ffcc;
    }
  }
  @-moz-keyframes bang {
    to {
      box-shadow: -19px -354.6666666667px #c8ff00, 16px -339.6666666667px #55ff00, 92px 9.3333333333px #007bff, 120px -41.6666666667px #95ff00, 19px -104.6666666667px #55ff00, 122px -286.6666666667px #e6ff00, 81px -61.6666666667px #ff00b7, -221px -11.6666666667px #ff00bf, 54px -312.6666666667px #00ffc8, 3px -115.6666666667px #00bbff, -65px 61.3333333333px cyan, -166px -306.6666666667px #ff00b7, 20px 64.3333333333px #ff001a, 171px 61.3333333333px #37ff00, -44px -389.6666666667px #1eff00, 113px -255.6666666667px #f7ff00, -130px -404.6666666667px #9dff00, -83px -370.6666666667px #ff00bf, -119px -371.6666666667px #37ff00, -227px -383.6666666667px #ff4400, 27px 73.3333333333px #c8ff00, 109px 17.3333333333px #6600ff, -198px -392.6666666667px #ff0077, -27px -337.6666666667px #00d9ff, -89px -292.6666666667px #37ff00, 81px 28.3333333333px #0040ff, -108px -246.6666666667px #7300ff, -193px 24.3333333333px #ff6a00, -195px -29.6666666667px #ff2200, -116px -405.6666666667px #9900ff, -226px -292.6666666667px #ff008c, -202px -292.6666666667px #5900ff, -157px -80.6666666667px #e1ff00, 16px -209.6666666667px #ff001a, -77px -135.6666666667px #88ff00, 130px -274.6666666667px #2200ff, 62px -260.6666666667px #ff3700, 163px -256.6666666667px #62ff00, 206px -136.6666666667px #0044ff, 182px -148.6666666667px #04ff00, 225px -69.6666666667px #15ff00, 41px -404.6666666667px #ff009d, -19px -0.6666666667px #00ff37, 36px -177.6666666667px #00ffd5, -189px -323.6666666667px #fff200, 132px -200.6666666667px #00a2ff, -178px -49.6666666667px #2b00ff, -23px -311.6666666667px #006aff, -201px -285.6666666667px #00ff3c, 179px -68.6666666667px #00ff66, 139px -247.6666666667px #00ffcc;
    }
  }
  @-o-keyframes bang {
    to {
      box-shadow: -19px -354.6666666667px #c8ff00, 16px -339.6666666667px #55ff00, 92px 9.3333333333px #007bff, 120px -41.6666666667px #95ff00, 19px -104.6666666667px #55ff00, 122px -286.6666666667px #e6ff00, 81px -61.6666666667px #ff00b7, -221px -11.6666666667px #ff00bf, 54px -312.6666666667px #00ffc8, 3px -115.6666666667px #00bbff, -65px 61.3333333333px cyan, -166px -306.6666666667px #ff00b7, 20px 64.3333333333px #ff001a, 171px 61.3333333333px #37ff00, -44px -389.6666666667px #1eff00, 113px -255.6666666667px #f7ff00, -130px -404.6666666667px #9dff00, -83px -370.6666666667px #ff00bf, -119px -371.6666666667px #37ff00, -227px -383.6666666667px #ff4400, 27px 73.3333333333px #c8ff00, 109px 17.3333333333px #6600ff, -198px -392.6666666667px #ff0077, -27px -337.6666666667px #00d9ff, -89px -292.6666666667px #37ff00, 81px 28.3333333333px #0040ff, -108px -246.6666666667px #7300ff, -193px 24.3333333333px #ff6a00, -195px -29.6666666667px #ff2200, -116px -405.6666666667px #9900ff, -226px -292.6666666667px #ff008c, -202px -292.6666666667px #5900ff, -157px -80.6666666667px #e1ff00, 16px -209.6666666667px #ff001a, -77px -135.6666666667px #88ff00, 130px -274.6666666667px #2200ff, 62px -260.6666666667px #ff3700, 163px -256.6666666667px #62ff00, 206px -136.6666666667px #0044ff, 182px -148.6666666667px #04ff00, 225px -69.6666666667px #15ff00, 41px -404.6666666667px #ff009d, -19px -0.6666666667px #00ff37, 36px -177.6666666667px #00ffd5, -189px -323.6666666667px #fff200, 132px -200.6666666667px #00a2ff, -178px -49.6666666667px #2b00ff, -23px -311.6666666667px #006aff, -201px -285.6666666667px #00ff3c, 179px -68.6666666667px #00ff66, 139px -247.6666666667px #00ffcc;
    }
  }
  @-ms-keyframes bang {
    to {
      box-shadow: -19px -354.6666666667px #c8ff00, 16px -339.6666666667px #55ff00, 92px 9.3333333333px #007bff, 120px -41.6666666667px #95ff00, 19px -104.6666666667px #55ff00, 122px -286.6666666667px #e6ff00, 81px -61.6666666667px #ff00b7, -221px -11.6666666667px #ff00bf, 54px -312.6666666667px #00ffc8, 3px -115.6666666667px #00bbff, -65px 61.3333333333px cyan, -166px -306.6666666667px #ff00b7, 20px 64.3333333333px #ff001a, 171px 61.3333333333px #37ff00, -44px -389.6666666667px #1eff00, 113px -255.6666666667px #f7ff00, -130px -404.6666666667px #9dff00, -83px -370.6666666667px #ff00bf, -119px -371.6666666667px #37ff00, -227px -383.6666666667px #ff4400, 27px 73.3333333333px #c8ff00, 109px 17.3333333333px #6600ff, -198px -392.6666666667px #ff0077, -27px -337.6666666667px #00d9ff, -89px -292.6666666667px #37ff00, 81px 28.3333333333px #0040ff, -108px -246.6666666667px #7300ff, -193px 24.3333333333px #ff6a00, -195px -29.6666666667px #ff2200, -116px -405.6666666667px #9900ff, -226px -292.6666666667px #ff008c, -202px -292.6666666667px #5900ff, -157px -80.6666666667px #e1ff00, 16px -209.6666666667px #ff001a, -77px -135.6666666667px #88ff00, 130px -274.6666666667px #2200ff, 62px -260.6666666667px #ff3700, 163px -256.6666666667px #62ff00, 206px -136.6666666667px #0044ff, 182px -148.6666666667px #04ff00, 225px -69.6666666667px #15ff00, 41px -404.6666666667px #ff009d, -19px -0.6666666667px #00ff37, 36px -177.6666666667px #00ffd5, -189px -323.6666666667px #fff200, 132px -200.6666666667px #00a2ff, -178px -49.6666666667px #2b00ff, -23px -311.6666666667px #006aff, -201px -285.6666666667px #00ff3c, 179px -68.6666666667px #00ff66, 139px -247.6666666667px #00ffcc;
    }
  }
  @keyframes bang {
    to {
      box-shadow: -19px -354.6666666667px #c8ff00, 16px -339.6666666667px #55ff00, 92px 9.3333333333px #007bff, 120px -41.6666666667px #95ff00, 19px -104.6666666667px #55ff00, 122px -286.6666666667px #e6ff00, 81px -61.6666666667px #ff00b7, -221px -11.6666666667px #ff00bf, 54px -312.6666666667px #00ffc8, 3px -115.6666666667px #00bbff, -65px 61.3333333333px cyan, -166px -306.6666666667px #ff00b7, 20px 64.3333333333px #ff001a, 171px 61.3333333333px #37ff00, -44px -389.6666666667px #1eff00, 113px -255.6666666667px #f7ff00, -130px -404.6666666667px #9dff00, -83px -370.6666666667px #ff00bf, -119px -371.6666666667px #37ff00, -227px -383.6666666667px #ff4400, 27px 73.3333333333px #c8ff00, 109px 17.3333333333px #6600ff, -198px -392.6666666667px #ff0077, -27px -337.6666666667px #00d9ff, -89px -292.6666666667px #37ff00, 81px 28.3333333333px #0040ff, -108px -246.6666666667px #7300ff, -193px 24.3333333333px #ff6a00, -195px -29.6666666667px #ff2200, -116px -405.6666666667px #9900ff, -226px -292.6666666667px #ff008c, -202px -292.6666666667px #5900ff, -157px -80.6666666667px #e1ff00, 16px -209.6666666667px #ff001a, -77px -135.6666666667px #88ff00, 130px -274.6666666667px #2200ff, 62px -260.6666666667px #ff3700, 163px -256.6666666667px #62ff00, 206px -136.6666666667px #0044ff, 182px -148.6666666667px #04ff00, 225px -69.6666666667px #15ff00, 41px -404.6666666667px #ff009d, -19px -0.6666666667px #00ff37, 36px -177.6666666667px #00ffd5, -189px -323.6666666667px #fff200, 132px -200.6666666667px #00a2ff, -178px -49.6666666667px #2b00ff, -23px -311.6666666667px #006aff, -201px -285.6666666667px #00ff3c, 179px -68.6666666667px #00ff66, 139px -247.6666666667px #00ffcc;
    }
  }
  @-webkit-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-moz-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-o-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-ms-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-webkit-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-moz-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-o-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-ms-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  